* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 300vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(52, 56, 56);
}
nav {

    position: sticky;
    top: 0;
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    
}
.logo {
    font-size: 10px;
    font-family: "gothic", sans-serif;
    border-radius: 0%;
        color: white;
        gap: 30px;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 0px;
}

a{
    text-decoration: none;
    color: white;
    font-family: "gothic", sans-serif;
    font-size: 10px;
    margin-left: 10px;
    user-select: none;
}
a:hover{
    color: rgb(7, 197, 197);
}
.BUTTON1{
    padding: 5px 13px;
    font-size: 10px;
    font-family: "gothic", sans-serif;
    background-color: rgb(52, 56, 56);
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);}
.BUTTON2{
    padding: 5px 13px;
    font-size: 10px;
    font-family: "gothic", sans-serif;
    background-color: rgb(251, 255, 255);
    color: rgb(9, 6, 6);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
button:hover{
    background-color: rgb(4, 205, 227);
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
    ;
    
}
.hero1{
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: START;
    color: white;
    font-family: "gothic", sans-serif;
    padding: 20px;
}
.BUTTON3{
    padding: 7px 15px;
    font-size: 12px;
    font-family: "gothic", sans-serif;
    background-color: rgb(251, 255, 255);
    color: rgb(9, 6, 6);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 20px;   }
    

    .img-container{
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    
